#tudo{
	margin-top:100px;
}

#estilo{
	border-style: solid;
	border-width: 1px;
	background-color: grey;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	padding-bottom: 30px;
	padding-top: 15px;
	width: 260px;
}
.form-signin{
	margin-left:
}

.id_campo{
	color: white;
	margin-left: 5px;
}

.form-control{
	margin-bottom: 7px;
}