#tudo{
	margin-top:30px;
}

#estilo{
	border-style: solid;
	border-width: 1px;
	background-color: grey;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	padding-bottom: 16px;
	padding-top: 15px;
	width: 260px;
}

.id_campo{
	color: white;
	margin-left: 5px;
}

.form-control{
	margin-bottom: 7px;
}
#botao{
	margin: -10px;
	}

#formQ_style{
	text-align: center;
	margin-top: 20px
}
button{
	border: 0;
	padding: 0;
	margin-top: 10px;
	margin-left: 7px;
}
#listbox{
	width: 230px;
	border-radius: 5px;
	height: 30px;
	padding-left: 5px;
	margin-bottom: 5px;
}